<div class="container">
  <div id="simulation-container">
    <h3>Lottery vs Investing Simulator</h3>
    <div>
      <label>Simulation time (in years)</label>
      <input [(ngModel)]="config.simYears" size="10">
    </div>

    <div class="form-group">
      <label>Initial amount of money</label>
      <input [(ngModel)]="config.initialAmount" size="10">
    </div>

    <button (click)="startSimulation()" [hidden]="simulationStarted">Start</button>
    <button (click)="stopSimulation()" [hidden]="!simulationStarted">Stop</button>
    <button (click)="pauseSimulation()" [hidden]="!simulationStarted">Pause</button><br>

    <div id="simulation-progress">
      Day: <span>{{ currentDay }}</span>

      <mat-progress-bar value="{{ simProgress }}"></mat-progress-bar>
    </div>
  </div>

  <app-lottery></app-lottery>
  <app-investing></app-investing>
</div>
