
<!-- <app-config></app-config> -->
<h3>Lottery</h3>

<div class="config-container">
  <div class="form-group">
    <label>Choose predefined lottery</label>
    <select (change)="loadLottery($event.target.value)">
      <option value=""></option>
      <option value="1">Test lottery</option>
      <option value="2">Test lottery 2</option>
    </select>
  </div>

  <div class="form-group">
    <label>Initial amount of money</label>
    <input [(ngModel)]="config.initialAmount" size="10">
  </div>

  <div class="form-group">
    <label>Cost of lottery ticket</label>
    <input [(ngModel)]="config.costOfTicket" size="10">
  </div>

  <div class="form-group">
    <label>Number of daily bought tickets</label>
    <input [(ngModel)]="config.dailyNumberOfTickets" size="10">
  </div>
</div>

<div class="current-info">
  <b>Current amount:</b> <span>{{ currentAmount }}</span><br>
</div>

{{ log }}
