
<!-- <app-config></app-config> -->

<div>
  <div>
    <label>Initial amount of money
      <input [(ngModel)]="config.initialAmount" size="10">
    </label>
  </div>

  <div>
    <label>Cost of lottery ticket
      <input [(ngModel)]="config.costOfTicket" size="10">
    </label>
  </div>

  <div>
    <label>Number of daily bought tickets
      <input [(ngModel)]="config.dailyNumberOfTickets" size="10">
    </label>
  </div>

  <div>
    <label>Simulation time (in years)
      <input [(ngModel)]="config.simulationTime" size="10">
    </label>
  </div>
</div>

<button (click)="startSimulation()" [hidden]="lotteryStarted">Start</button>
<div [hidden]="!lotteryStarted">
  Amount: <span>{{ currentAmount }}</span><br>
  Day: <span>{{ currentDay }}</span>
</div>

{{ log }}
